@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Light.woff');
    font-weight: 300;
    font-style: normal;
} 

@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Bold.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Calibri;
    src: url('fonts/calibri.woff'); 
} 

$font-family-Lato: 'Lato', sans-serif;
$font-family-Calibri: 'Calibri', sans-serif;

// $sandir-footer-height: 45px;
$sandir-footer-height: 64px;

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@import "src/attractor/attractor";
@import "src/footer/footer";
