<div class="sandir-attractor" id="attractor">
    <div class="overlay">
        <div class="circles"></div>
        <div class="inner">
            <div class="hand">
                <img src="../src/attractor/assets/noun_691013.svg"/>
            </div>
            <div class="label">
                <p>Touch to <span class="large">explore</span></p>
            </div>
        </div>   
    </div>
    <div class="backdrop">
        <video src="../src/attractor/assets/sizzleReelEditedWithWondershare_sm.mp4" loop poster="../src/attractor/assets/sizzle_placeholder.png"></video>
        <!-- <video src="assets/pth" poster="../src/attractor/assets/sizzle_placeholder.png"></video> -->
    </div>
</div>