
$attractor-circles-alpha: 0.35;

.sandir-attractor {
    width: 100%;
    height: calc(100vh - #{$sandir-footer-height});
    padding-bottom: $sandir-footer-height;
    position: relative;

    .overlay {
        // width: 740px;
        // height: 740px;
        width: 38.5vw;
        height: 38.5vw;
        margin: auto;
        top: calc(50% - #{$sandir-footer-height});
        left: 50%;
        transform: translate(-50%, calc(-50% + #{$sandir-footer-height/2}));
        position: absolute;
        z-index: 4; 

        .circles {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: rgba(0, 0, 0, $attractor-circles-alpha);
            border: 10px solid transparent;
            background-clip: padding-box;
            box-shadow: 0 0 0 10px rgba(0, 0, 0, $attractor-circles-alpha);  
            box-sizing: border-box;
        }

        .inner {
            position: absolute;
            width: 90%;
            height: auto;
            top: 50%;
            transform: translate(0, -50%);
        }

        .hand {
            float: left;
            width: 40%;
            height: auto;
            margin-left: 46px;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: auto;
                transform: rotateZ(-20deg);
                z-index: 1;
            }
        }

        .label {
            float: right;
            width: 51%;
            height: 100%;
            text-align: right;
            position: relative;
            z-index: 0;
            
            p {
                text-transform: uppercase;
                font-family: $font-family-Lato;
                font-weight: 600;
                color: #fff;
                font-size: 48pt;
                line-height: 62pt;
                text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
                z-index: 0;

                .large {
                    font-size: 57pt;
                }
            }
        }

    }

    .backdrop {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: calc(100vh - #{$sandir-footer-height});
        z-index: 3;
        top: 0;
        left: 0;
        overflow: hidden;

        video {
            width: 100vw;
            height: calc(100vh - #{$sandir-footer-height});
            object-fit: cover;     
        }

    }
}