@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Light.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Bold.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Calibri;
  src: url("fonts/calibri.woff"); }

body {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.sandir-attractor {
  width: 100%;
  height: calc(100vh - 64px);
  padding-bottom: 64px;
  position: relative; }
  .sandir-attractor .overlay {
    width: 38.5vw;
    height: 38.5vw;
    margin: auto;
    top: calc(50% - 64px);
    left: 50%;
    transform: translate(-50%, calc(-50% + 32px));
    position: absolute;
    z-index: 4; }
    .sandir-attractor .overlay .circles {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.35);
      border: 10px solid transparent;
      background-clip: padding-box;
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.35);
      box-sizing: border-box; }
    .sandir-attractor .overlay .inner {
      position: absolute;
      width: 90%;
      height: auto;
      top: 50%;
      transform: translate(0, -50%); }
    .sandir-attractor .overlay .hand {
      float: left;
      width: 40%;
      height: auto;
      margin-left: 46px;
      position: relative;
      z-index: 1; }
      .sandir-attractor .overlay .hand img {
        width: 100%;
        height: auto;
        transform: rotateZ(-20deg);
        z-index: 1; }
    .sandir-attractor .overlay .label {
      float: right;
      width: 51%;
      height: 100%;
      text-align: right;
      position: relative;
      z-index: 0; }
      .sandir-attractor .overlay .label p {
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        color: #fff;
        font-size: 48pt;
        line-height: 62pt;
        text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
        z-index: 0; }
        .sandir-attractor .overlay .label p .large {
          font-size: 57pt; }
  .sandir-attractor .backdrop {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: calc(100vh - 64px);
    z-index: 3;
    top: 0;
    left: 0;
    overflow: hidden; }
    .sandir-attractor .backdrop video {
      width: 100vw;
      height: calc(100vh - 64px);
      object-fit: cover; }

.sandir-footer {
  position: absolute;
  width: 100vw;
  height: 64px;
  bottom: 0;
  left: 0;
  background: #3f4444;
  color: white;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18pt;
  display: flex;
  justify-content: space-between; }
  .sandir-footer > * {
    position: relative;
    display: inline-flex;
    align-self: center; }
  .sandir-footer p {
    margin: 0;
    padding: 0; }
  .sandir-footer .logo {
    width: 180px;
    height: 64px; }
    .sandir-footer .logo img {
      width: auto;
      height: 90%;
      margin: auto; }
  .sandir-footer .datetime {
    flex: 0 1 auto; }
    .sandir-footer .datetime p {
      margin: 0 13px 0 3px; }
  .sandir-footer .languages {
    flex: 1 1 auto; }
    .sandir-footer .languages ul {
      overflow: auto;
      list-style: none;
      margin: auto;
      margin-left: 185px;
      padding: 0; }
    .sandir-footer .languages li {
      display: inline-flex;
      position: relative;
      margin-left: 65px; }
      .sandir-footer .languages li:first-child {
        margin-left: 0; }
      .sandir-footer .languages li:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: text-top;
        margin-right: 5px; }
      .sandir-footer .languages li.en:before {
        background-image: url("../src/footer/assets/SAN_i18n_en_ppt.png"); }
      .sandir-footer .languages li.es:before {
        background-image: url("../src/footer/assets/SAN_i18n_es_ppt.png"); }
      .sandir-footer .languages li.de:before {
        background-image: url("../src/footer/assets/SAN_i18n_de_ppt.png"); }
      .sandir-footer .languages li.ni:before {
        background-image: url("../src/footer/assets/SAN_i18n_ni_ppt.png"); }
  .sandir-footer .levels {
    float: right;
    height: 100%;
    flex: 0 1 auto; }
    .sandir-footer .levels .level {
      position: relative;
      width: 140px;
      height: auto;
      text-transform: uppercase;
      background: #676967;
      margin: 10px 10px 10px 0;
      font-size: 11pt;
      box-sizing: content-box;
      box-shadow: 5px 8px rgba(1, 1, 1, 0.5); }
      .sandir-footer .levels .level p {
        position: absolute;
        display: inline;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-family: "Calibri", sans-serif; }
    .sandir-footer .levels .selected {
      background: #797979;
      margin: 2px 2px 2px 0; }
