<div class="sandir-footer">
    <div class="logo">
        <img src="../src/footer/assets/SAN_logo_ppt_cropped.png"/>    
    </div>
    <div class="datetime">
        <div class="time">
            <p> 11:59 PM </p>
        </div>
        <div class="date">
            <p>7/23/2018</p>
        </div>
    </div>

    <div class="languages">
        <ul class="language-list">
            <li class="en">English</li>
            <li class="es">Español</li>
            <li class="de">Deutsche</li>
            <li class="ni">日本語</li>
        </ul>
    </div>
    <div class="levels">
        <div class="level selected">
            <p>Departures Level</p>
        </div>
        <div class="level">
            <p>Arrivals Level</p>
        </div>
    </div>
</div>