.sandir-footer {
	position: absolute;
	width: 100vw;
	height: $sandir-footer-height;
	bottom: 0;
    left: 0;
	background: rgba(63, 68, 68, 1);
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
    font-family: $font-family-Lato;
    font-weight: 300;
    font-size: 18pt;
    // flexbox parent styles
    display: flex;
    justify-content: space-between;

    // first level children
    > * {
        position: relative;
        display: inline-flex;
        align-self: center;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 180px;
        height: $sandir-footer-height;

        img {
            width: auto;
            height: 90%;
            margin: auto;
        }
    }

    .datetime {
        flex: 0 1 auto;

        p {
            margin: 0 13px 0 3px;
        }
    }

    .languages {
        flex: 1 1 auto;

        ul {
            overflow: auto;
            list-style: none;
            margin: auto;
            margin-left: 185px;
            padding: 0;
        }

        li {
            display: inline-flex;
            position: relative;
            margin-left: 65px;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                vertical-align: text-top;
                margin-right: 5px;
            }

            &.en:before {
                background-image: url('../src/footer/assets/SAN_i18n_en_ppt.png');
            }

            &.es:before {
                background-image: url('../src/footer/assets/SAN_i18n_es_ppt.png');
            }

            &.de:before {
                background-image: url('../src/footer/assets/SAN_i18n_de_ppt.png');
            }

            &.ni:before {
                background-image: url('../src/footer/assets/SAN_i18n_ni_ppt.png');
            }
        }
    }

    .levels {
        float: right;
        height: 100%;
        flex: 0 1 auto;

        .level {
            position: relative;
            width: 140px;
            height: auto;
            text-transform: uppercase;
            background: rgba(103, 105, 103, 1);
            margin: 10px 10px 10px 0;
            font-size: 11pt;
            box-sizing: content-box;
            box-shadow: 5px 8px rgba(1, 1, 1, 0.5);

            p { 
                position: absolute;
                display: inline;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                margin: 0 auto;
                text-align: center;
                font-family: $font-family-Calibri;
            }
        }

        .selected {
            background: rgba(121, 121, 121, 1);
            margin: 2px 2px 2px 0;
        }
    }
}